<div class="row">
  <div class="col-sm-12">
    <h2>Salary Schedules</h2>
    <div class="form form-inline">
      <div class="form-group">
        <label id="YearLabel">Select a fiscal year: </label>
        <select id="YearSelect" class="form-control" ng-model="$ctrl.file">
          <option value="salary-schedules/data/14-15.json">14/15</option>
          <option value="salary-schedules/data/13-14.json">13/14</option>
          <option value="salary-schedules/data/12-13.json">12/13</option>
          <option value="salary-schedules/data/11-12.json">11/12</option>
          <option value="salary-schedules/data/09-10.json">09/10</option>
        </select>
      </div>
      <button id="explore" class="btn btn-primary" ng-click="$ctrl.loadData()">Explore</button>
      <button id="download" class="btn btn-primary" ng-click="$ctrl.downloadData()">Download</button>
    </div>
    <br />
    <em class="text-muted" ng-hide="$ctrl.file">Select a fiscal year to get started</em>
  </div>
</div>
<div class="row" ng-show="$ctrl.data.ReportRunDate">
  <div class="col-sm-12">
    <h3>FY {{ $ctrl.data.FiscalYear.ShortSpanCode }}</h3>

    <h4>Bargaining Units</h4>
    <div class="form">
      <div class="form-group">
        <div ng-repeat="unit in $ctrl.data.BargainingUnits">
          <label>
            <input type="checkbox"
                   name="$ctrl.units[]"
                   ng-checked="$ctrl.units.indexOf(unit) != -1"
                   ng-click="$ctrl.toggleUnit(unit)"> {{ unit.Code }}
          </label>
          <em clas="text-muted">{{ unit.Name }}</em>
        </div>
      </div>
      <a class="btn btn-primary" href="#jobClasses" ng-click="$ctrl.loadJobs()">View job classes</a>
      <button type="reset" class="btn btn-default" ng-click="$ctrl.reset()">Reset</button>
    </div>
    
    <h4 class="jobClasses" id="jobClasses">
      Job Classes <small class="badge" ng-show="$ctrl.jobs.length > 0">{{ ($ctrl.jobs | filter: $ctrl.titleFilter).length }}</small>
    </h4>

    <p class="text-muted" ng-hide="$ctrl.units.length > 0">
      <em>Select some bargaining units to view job classes</em>
    </p>

    <div class="form-group" ng-show="$ctrl.jobs.length > 0">
      <input type="text" class="form-control" placeholder="Filter Job Classes" ng-model="$ctrl.titleFilter" />
    </div>

    <div class="jobClasses">
      <div class="jobClass" ng-repeat="job in $ctrl.jobs | filter: $ctrl.titleFilter | orderBy: 'Title'">
        <h5 class="title">{{ job.Title }}</h5>
        <div class="description">
          <span class="code">Code: {{ job.Code }}</span>
          <span class="grade">Grade: {{ job.Grade }} </span>
          <span class="bargainingUnit">BU: {{ job.BargainingUnit.Code }}</span>
        </div>

        <div class="steps">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="step">Step</th>
                <th>Hourly</th>
                <th>BiWeekly</th>
                <th>Monthly</th>
                <th>Annual</th>
              </tr>
            </thead>
            <tbody>
              <tr class="step" ng-repeat="step in job.Steps">
                <td class="step">{{ step.StepNumber }}</td>
                <td class="hourly rate">{{ step.HourlyRate | currency }}</td>
                <td class="biweekly rate">{{ step.BiWeeklyRate | currency }}</td>
                <td class="monthly rate">{{ step.MonthlyRate | currency }}</td>
                <td class="annual rate">{{ step.AnnualRate | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
